<div class="col-7">
    <div class="form-floating mb-4">
    <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="name" name="first_name">
    <label for="floatingInput">name</label>
    </div>
</div>

<div class="col-7">
    <div class="form-floating mb-4">
    <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="email" name="last_name">
    <label for="floatingInput">email</label>
    </div>
</div>

<div class="col-7">
    <div class="form-floating mb-4">
    <input type="text" class="form-control" id="floatingInput" value="{{this.email}}"placeholder="registration date" name="email">
    <label for="floatingInput">registration date</label>
    </div>
</div>

<div class="col-7">
    <div class="form-floating mb-4">
    <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="last seen date" name="phone">
    <label for="floatingInput">last seen date</label>
    </div>
</div>

  <div class="col-11">
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comments" style="height: 200px">{{this.comments}}</textarea>
      <label for="comments">comments</label>
    </div>
  </div>

<div class="col-11 d-grid">
    <button class="btn btn-primary" type="submit">submit</button>
</div>